package com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.impl${cfg.sonPath};

import com.ideal.hos.${cfg.modelName}.client.${cfg.cgildPhth}.dto${cfg.sonPath}.${entity}DTO;
import com.ideal.hos.${cfg.modelName}.client.${cfg.cgildPhth}.dto${cfg.sonPath}.${entity}PageRequestDTO;
import com.ideal.hos.${cfg.modelName}.client.${cfg.cgildPhth}.dto${cfg.sonPath}.${entity}RequestDTO;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.bo${cfg.sonPath}.${entity}BO;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.bo${cfg.sonPath}.${entity}RequestBO;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.convert${cfg.sonPath}.${entity}Struct;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.service${cfg.sonPath}.I${entity}Service;
import com.ideal.hos.${cfg.modelName}.client.${cfg.cgildPhth}.service${cfg.sonPath}.I${entity}ApiService;
import com.ideal.hos.common.holder.UserContextHolder;
import com.ideal.hos.common.common.CommonPage;
import org.springframework.stereotype.Service;
import com.ideal.hos.common.utils.InitBeanUtil;
import com.ideal.hos.common.utils.Constant;
import java.time.LocalDateTime;
import org.springframework.transaction.annotation.Transactional;

import javax.annotation.Resource;
import java.util.Arrays;
import java.util.List;

/**
 * <p>
 * $!{table.comment} 服务实现类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
@Service
public class ${entity}ApiServiceImpl implements I${entity}ApiService {

    @Resource
    private I${entity}Service ${table.entityPath}Service;

    @Override
    @Transactional(rollbackFor = Exception.class)
    public Boolean save${entity}(${entity}RequestDTO ${table.entityPath}RequestDto) {
        ${entity}RequestBO ${table.entityPath}RequestBo = ${entity}Struct.INSTANCE.requestDtoToBo(${table.entityPath}RequestDto);
        //校验数据
        checkData(${table.entityPath}RequestBo);
        InitBeanUtil.init(${table.entityPath}RequestBo, LocalDateTime.now(), UserContextHolder.getUser(), Constant.CREATE);
        return ${table.entityPath}Service.save${entity}(${table.entityPath}RequestBo);
    }
    @Override
    @Transactional(rollbackFor = Exception.class)
    public Boolean saveBatch${entity}(List<${entity}RequestDTO> ${table.entityPath}RequestDtoList) {
        List<${entity}RequestBO> ${table.entityPath}RequestBoList = ${entity}Struct.INSTANCE.requestDtoToBo(${table.entityPath}RequestDtoList);
        InitBeanUtil.init(${table.entityPath}RequestBoList, LocalDateTime.now(), UserContextHolder.getUser(), Constant.CREATE);
        return ${table.entityPath}Service.saveBatch${entity}(${table.entityPath}RequestBoList);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public Boolean update${entity}ById(${entity}RequestDTO ${table.entityPath}RequestDto) {
        ${entity}RequestBO ${table.entityPath}RequestBo = ${entity}Struct.INSTANCE.requestDtoToBo(${table.entityPath}RequestDto);
        //校验数据
        checkData(${table.entityPath}RequestBo);
        InitBeanUtil.init(${table.entityPath}RequestBo, LocalDateTime.now(),UserContextHolder.getUser(), Constant.UPDATE);
        return ${table.entityPath}Service.update${entity}ById(${table.entityPath}RequestBo);
    }

    @Override
    @Transactional(rollbackFor = Exception.class)
    public Boolean deleteByIds(List<Long> ids) {
        return ${table.entityPath}Service.logicDeleteByIds(ids);
    }

    @Override
    public ${entity}DTO get${entity}VoById(Long id) {
        ${entity}BO ${table.entityPath}Bo = ${table.entityPath}Service.get${entity}VoById(id);
        ${entity}DTO ${table.entityPath}Dto = ${entity}Struct.INSTANCE.boToDto(${table.entityPath}Bo);
        return ${table.entityPath}Dto;
    }

    @Override
    public List<${entity}DTO> findListByCondition(${entity}RequestDTO ${table.entityPath}RequestDTO) {
        List<${entity}BO> ${table.entityPath}BOList = ${table.entityPath}Service.findListByCondition(${table.entityPath}RequestDTO);
        List<${entity}DTO> ${table.entityPath}DTOS = ${entity}Struct.INSTANCE.boToDto(${table.entityPath}BOList);
        return ${table.entityPath}DTOS;
    }

    @Override
    public CommonPage<${entity}DTO> pageList(${entity}PageRequestDTO ${table.entityPath}PageRequestDTO) {
        CommonPage<${entity}BO> commonPage = ${table.entityPath}Service.pageList(${table.entityPath}PageRequestDTO);
        List<${entity}DTO> ${table.entityPath}DTOS = ${entity}Struct.INSTANCE.boToDto(commonPage.getRecords());
        return CommonPage.restPage(commonPage, ${table.entityPath}DTOS);
    }

    /**
     * 校验数据
     * @param ${table.entityPath}RequestBo
     */
    private void checkData(${entity}RequestBO ${table.entityPath}RequestBo) {

    }
}
