package com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.mapper${cfg.sonPath};

import com.baomidou.mybatisplus.core.mapper.BaseMapper;
import com.baomidou.mybatisplus.core.metadata.IPage;
import com.ideal.hos.${cfg.modelName}.client.${cfg.cgildPhth}.dto${cfg.sonPath}.${entity}PageRequestDTO;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.entity${cfg.sonPath}.${entity}DO;
import org.apache.ibatis.annotations.Param;
import java.util.List;
/**
 * <p>
 * $!{table.comment} Mapper 接口
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */

public interface ${table.mapperName} extends ${superMapperClass}<${entity}DO> {

    /**
     * 分页查询
     * @param ${table.entityPath}PageRequestDto
     * @return
     */
    List<${entity}DO> pageList(@Param("page")IPage<${entity}DO> page, @Param("${table.entityPath}PageRequestDto")${entity}PageRequestDTO ${table.entityPath}PageRequestDto);
    /**
     * 根据ID进行修改
     * @param ${table.entityPath}Do
     * @return
     */
     int update${entity}ById(@Param("${table.entityPath}Do") ${entity}DO ${table.entityPath}Do);
}
