package com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.service${cfg.sonPath};

import com.ideal.hos.${cfg.modelName}.client.${cfg.cgildPhth}.dto${cfg.sonPath}.${entity}PageRequestDTO;
import com.ideal.hos.${cfg.modelName}.client.${cfg.cgildPhth}.dto${cfg.sonPath}.${entity}RequestDTO;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.entity${cfg.sonPath}.${entity}DO;
import com.baomidou.mybatisplus.extension.service.IService;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.bo${cfg.sonPath}.${entity}BO;
import com.ideal.hos.${cfg.modelName}.${cfg.childModelName}.${cfg.cgildPhth}.bo${cfg.sonPath}.${entity}RequestBO;
import com.ideal.hos.common.common.CommonPage;

import java.util.Collection;
import java.util.List;
import java.util.Map;
/**
 * <p>
 * $!{table.comment} 服务类
 * </p>
 *
 * @author ${author}
 * @since ${date}
 */
public interface ${table.serviceName} extends ${superServiceClass}<${entity}DO> {

    /**
      * 保存$!{table.comment}
      * @param ${table.entityPath}RequestBo
      * @return
      */
    ${entity}BO save${entity}(${entity}RequestBO ${table.entityPath}RequestBo);
    /**
      * 保存$!{table.comment}
      * @param ${table.entityPath}RequestBoList
      * @return
      */
    List<${entity}BO> saveBatch${entity}(List<${entity}RequestBO> ${table.entityPath}RequestBoList);

    /**
     * 修改$!{table.comment}
     * @param ${table.entityPath}RequestBo
     * @return
     */
    Boolean update${entity}ById(${entity}RequestBO ${table.entityPath}RequestBo);

    /**
     * 根据ID删除（物理删除）
     * @param ids
     * @return
     */
    Boolean logicDeleteByIds(List<Long> ids);
    /**
     * 根据ID删除（逻辑删除）
     * @param ids
     * @return
     */
    Boolean deleteByIds(List<Long> ids);

    /**
     * 根据ID查询
     * @param id
     * @return
     */
    ${entity}BO get${entity}VoById(Long id);

    /**
     * 根据条件查询
     * @param ${table.entityPath}RequestDto
     * @return
     */
    List<${entity}BO> findListByCondition(${entity}RequestDTO ${table.entityPath}RequestDto);

    /**
     * 分页查询
     * @param ${table.entityPath}PageRequestDto
     * @return
     */
    CommonPage<${entity}BO> pageList(${entity}PageRequestDTO ${table.entityPath}PageRequestDto);
    /**
     * 根据ID集合查询
     * @param ids
     * @return
     */
    Map<Long,${entity}DO> map${entity}DoByIds(Collection<Long> ids);

}
